html,
body {
  margin: 0;
}

body {
  font-family: sans-serif;
  background: #f3f1f2;
}

textarea {
  width: 60%;
  margin-right: 10px;
}

.viewer {
  border: 1px solid #cccccc;
  padding: 5px;
}


.ql-editor {
  overflow-y: scroll;
  resize: vertical;
}

.app {
  margin: 3rem 2rem;
  max-width: 70em;
}

.editor {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .app {
    margin: 1.6rem 0.5rem;
    display: inherit;
    max-width: 50em;
  }
}

.app .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}


/* Snow Theme */
.app .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;

}

.app .ql-editor {
  min-height: 40em;
}